html
  head
    title Open Chat
    meta(name='description', content='Chat')
    meta(name='author', content='Leo Emaxie')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
    h1.border.center Open Chat
    h2.center Chat Room
    .chat.center
      p#num-users
      .chat-box
        ul#messages
        form(action='')
          input#message-to-send(autocomplete='off')
          button Send
      a#logout(href='/logout') Logout
    script(src='/socket.io/socket.io.js')
    script(async, defer, src='/public/client.js')
