html
  head
    title Open Chat - Page Not Found
    meta(name='description', content='Error Page')
    meta(name='author', content='Leo Emaxie')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
    h1.border.center Open Chat - Page Not Found
    p The page requested doesn't exist. Return to the homepage 
      a(href='/') here.
